{% load static %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|Pacifico" rel="stylesheet">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href='{% static "css/my_st.css" %}'>

    <title>7번째 세션</title>

    
</head>                                                                                                                                                                         
    <body>

        <header>
                    <div class="navbar navbar-de navbar-static-top">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                                <a class="navbar-brand" href="{% url 'index' %}">Session 7</a>
                            </div>
                            <div class="navbar-collapse collapse ">
                                <ul class="nav navbar-nav">
                                    <li><a href="{% url 'new' %}">NEW POST</a></li>
                                    <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-new-window"></span> SIGN UP</a></li>
                                    <li><a href=""><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
        </header>




        {% block content %}
     
        {% endblock %} 
        